/*----START OF BASE DESIGNS----*/
body {
    display: flex;
    background-color: rgb(235, 231, 231);
}

p {
    cursor: default;
}
/*----SIDEBAR DESIGNS----*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px; /* collapsed width */
    background-color: #003366;
    overflow-x: hidden;
    transition: width 0.3s ease;
    font-family: 'Barlow', 'Arial';
    z-index: 100;
}

.sidebar ~ .main-content {
    margin-left: 2.8vw;/*same width lagi dapat ng .sidebar*/
}

.sidebar button {
    border: none;   
    background: none;
    cursor: pointer;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}    

.sidebar a {
    display: block; 
    color: #CC8B20;
    text-decoration: none;
    cursor: pointer !important;
}

.sidebar ul {
    list-style: none;
}

.sidebar span {
    opacity: 0;
    max-height: 0;
    transition: max-height .1s ease-out, opacity .1s ease-out;
}

.menu {
    padding: 2em 1em 1em 1em; 
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.menu-title {
    color: #FFF8F8;
    padding: 0em 1em;
}

.menu img {
    width: 1.3em;
    max-width: 2em;
}

.border-75 {
    position: relative;
}

.border-75::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 7.5%; 
    width: 85%;
    border-bottom: 1px solid rgba(0, 51, 102, 0.7);
}

.border-100sb {
    position: relative;
}

.border-100sb::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    border-bottom: 1px solid #295077;
}

/*SIDEBAR TITLE*/
.sidebar-title {
    color: white;
    background-color: #F1BD22;
    display: grid;
    height: 3em;
    grid-template-columns: 50% 50%;
}

.sidebar-title button {
    opacity: 1;
    max-height: 100%;
    cursor: pointer;
    grid-column: 1/3;
    justify-self: center;
}


.SSIS {
    margin: 1em;
    max-width: 0;
    opacity: 0;
    display: none;
}

.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    transition: max-height .1s ease-out, opacity .1s ease-out;
    max-width: 10vh;
    width: 2em;
}

/*--MENU--*/

/*DASHBOARD*/
.dashboard-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

.dashboard-ul a:hover {
    color: white;
}

#dashboard-spn a{
    color: white !important;
}

/*STUDENTS*/
.students-ul a:hover {
    color: white;
}

.students-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

/*TEACHERS*/

.teachers-ul a:hover {
    color: white;
}

.teachers-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

/*ENROLL*/
.enrolls-ul a:hover {
    color: white;
}

.enrolls-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

/*--END OF MENU--*/

/*----TRANSITIONS----*/
.sidebar.active {
    width: 20vw; 
    transition: width 0.2s ease-in, opacity 0.15s ease-out;
}

/*SIDEBAR TITLE*/
.sidebar.active .SSIS {
    display: flex;
    max-height: 2.5em;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 1em;
}

.sidebar.active.sidebar-title button {
    position: absolute;
    right: 0;   
}

.sidebar.active span, .sidebar.active button {
    max-height: 100%;
    opacity: 1;
    transition: max-height .5s ease-out, opacity .5s ease-out;
}

.sidebar.active .menu-btn {
    grid-column: 2/2;
    justify-self: right;
    margin-right: 1em;
}

.dashboard-ul.active {
    max-height: 100vh;
    opacity: 1;
    background-color: #051F3E;
    margin: 0;
    padding: 1em 2em .5em 2em;
    grid-column: 1 / 3;
    transition: max-height .5s ease-in, opacity .3s ease-in;
}

.students-ul.active, .teachers-ul.active, .enrolls-ul.active {
    max-height: 100vh;
    opacity: 1;
    background-color: #051F3E;
    margin: 0;
    padding: 1em 2em .5em 2em;
    grid-column: 1 / 3;
    transition: max-height .5s ease-in, opacity .3s ease-in;
}
/*--END OF TRANSITIONS--*/
/*----END OF SIDEBAR DESIGNS----*/


/*--HEADER DESIGNS--*/
.main-content {
    background-color:antiquewhite;
    width: 100%;
    height: 100%;
}

.header-title {
    flex-grow: 1;
    padding: .2em;
    padding-left: 1em;
    color: #E1A23C;
    font-size: 1.3em;
}

.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 3.2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

.searchbox {
    padding-right: 5em;
    border-radius: 20px;
    background-color: #EBEBEB;
    margin-right: 3em;
    width: 25em;
    height: 2em;
    justify-self: center;
    padding:1em;
}

.account {
    display: flex;
    padding-right: 2em;
}

.account button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
    cursor: pointer;
}

.account img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
}

.account #account-drop {
    width: 1.3em;
    height: 1.3em;
    padding-left: .4em;
}

.account-settings-btn {
    position: relative;
    display: inline-block;
}

.account-settings-btn-content-wrapper {
    display: none;
    position: absolute;
    top: 120%;
    right:10px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.account-link-wrapper:hover, .account-logout-wrapper:hover, .account-edit-info-wrapper:hover {
    background-color: #a7a39d;
}

.account-settings-btn-content-wrapper a{
    cursor: pointer;
}


.account-link-wrapper, .account-logout-wrapper, .account-edit-info-wrapper{
    display: flex;
}

.update-password {
    margin: auto 0px;
}

.account .change-pass-icon, .account .logout-icon, .account .edit-info-icon{
    padding: .4em;
    margin: .5em;
    border-radius: 50%;
    background-color: #cfcbc4;
    border: #a7a39d 1px solid;
}

.logout-text, .edit-info-text {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: auto;
    margin-left: .2em;
}

.user-info-wrapper {
    display: flex;
}

.show {
    display: block;
}
/*--END OF HEADER DESIGNS--*/
/*MEDIA QUERIES*/
@media (max-width: 1510px) {
    sidebar.active {
        min-width: 20vw;
        font-size: .7em;
        transition: all .2s ease-out;
    }

    .sidebar {
        font-size: .85em;
    }

    .header-title {
        font-size: 1.1em;
    }

    .account {
        padding-right: 0em;
        font-size: .8em;
    }

    .searchbox {
        width: 20em;
        font-size: .8em;
    }
}


@media (max-width: 1205px) {
    .sidebar {
        min-width: 3.5vw;
    }

    .sidebar.active {
        min-width: 12vw;
        font-size: .7em;
        transition: all .2s ease-out;
    }

}

@media (max-width: 1045px) {
    .sidebar {
        font-size: .8em;
    }

    .header-title {
        font-size: 1em;
    }

}

/*----END OF THE BASE DESIGNS----*/


/*----START OF MAIN CONTENT----*/
/*----END OF MAIN CONTENT----*/
