  
body {
    background-color: #003366;
}

.main-container {
    background-color: #F5F5F5;
    width: 30vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 15vh;
}

input[type="password"] {
    padding-left: 5px;
    background-color: #E1A23C;
    border-radius: 10px;
    width: 60%;
    height: 7vh;
    margin: 10px 20%;
    color: black;
    border: #816700 1px solid;
    border-bottom: #816700 2px solid;

}

.submit {
    margin: 10px 20%;
    padding-left: 10%;
    border: #816700 1px solid;
    border-radius: 10px;
    height: 7vh;
    width: 10vw;
}

.submit:hover {
    background-color: #E1A23C;
    color: white;
    cursor: pointer;
}


