body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #000000;
    font-family: "Baloo-Thambi-2";
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
}

.bg-image {
    background-image: url('../imgs/student.jpg'); /* <-- Set your background image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: auto;
    z-index: 1;
    overflow: hidden;
    position: relative;
    max-width: 450px;
    backdrop-filter: blur(10px); /* Optional: for a frosted glass effect */
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

button {
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 20px 0;
    padding: 12px;
    height: 3.5em;
    background: #0765c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-2px);
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background: #003366;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px  #01203f;
}

.blurred-background {
    background-image: url('../imgs/student.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  @media (max-width: 768px) {
    .form {
        padding: 15px;
    }

    h2 {
        font-size: 1.4em;
    }
}


@media (max-width: 480px) {
    .form {
        width: 95%;
    }

    button {
        font-size: 1em;
        padding: 12px;
    }

    input {
        font-size: .7em;
    }
}
