  
body {
    background-color: #ffffff;
}

.main-container {
    background-color: #a5e2fd;
    width: 30vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 15vh;
    border-radius: 23%;
    border: #506568 1px solid;
}

input[type="password"] {
    padding-left: 5px;
    background-color: #E1A23C;
    border-radius: 10px;
    width: 60%;
    height: 7vh;
    margin: 10px 20%;
    color: black;
    border: #816700 1px solid;
    border-bottom: #816700 2px solid;

}

.submit {
    margin: .7em 8em .7em 9em;
    padding-left: 10%;
    border: #816700 1px solid;
    border-radius: 10px;
    height: 7vh;
    width: 10vw;
    color: #928527;
     
}

.submit:hover {
    background-color: #E1A23C;
    color: white;
    cursor: pointer;
}

#change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header {
    color: #ffffff;
    font-size: 1.5em;
    padding-top: 1.9em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}