.content {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bolder ;
    font-family: Arial;
}

.info {
    text-align: center;
    font-size: 15.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 30vw;
    background-color: #ffffff;
    border-radius: 1.25em;
}

.card { 
    display: flex; /* make it a flex container */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    border: solid black 1px;
    margin: 25px;
    height: 2em;
    width: 10em;
    border-radius: 1.5em;
    cursor: default;
    background-color: #f4f4f4;
    text-align: center;
}

.card a {
    position: relative;
    font-family: Arial;
    font-size: 17.3px;
    color: #073f88;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #327ee2;
    transition: width 0.3s ease 0.2s; /* duration + delay */
}

.card a:hover::after {
    width: 100%;
}

.card a:hover {
    color: #327ee2;
    cursor: pointer;
}

/* .card a {
    font-family: Arial;
    font-size: 17.3px;
    color: #073f88;
    font-weight: bold;
    margin: auto 2em;
}

.card a:hover {
    color: #327ee2;
    cursor: pointer;
    text-decoration: underline;
} */

.links {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px;
    border-radius: 1.25em;
}

.links > .card {
  background-color: #f3f3f3;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
}