/*--MEDIA QUERIES--*/

/*For 1600px width*/
@media (max-width: 1600px) {
    .content {
        padding-top: 1em;
        padding-left: 4em;
        font-size: .85em;
    }
  
    #lschoolAddress, #fschoolAddress {
        width: 18em;
    }
    .school-year input {
        width: 6em;
        height: 1.5em;
    }
    .select {
        max-width: 12em;
        height: 1.5em;
    }
    .textbox {
        max-width: 12em;
        height: 1.5em;
    }
    .title {
        font-size: 1.5em;
        padding: 0 0 0 2.5em;
    }
    .previous-school-wrapper {
        grid-template-columns: 20% 40% 35%;
        padding:1em 1em 1em 4em;
    }
    .student-information-wrapper {
        grid-template-columns: 21% 21% 33% 25%;
        padding:1em 1em 1em 4em;
        gap: 1em;
    }

    .student-disability-wrapper {
        grid-template-columns: auto auto;
        padding:1em 1em 1em 4em;    
    }

    .address-wrapper {
        grid-template-columns: 25% 25% 25%;
        padding:1em 1em 1em 4em;
    }

    .parents-guardian-information-wrapper {
        grid-template-columns:  auto auto auto;
        padding:1em 1em 1em 4em;
    }
}

/*For 1360px Width*/


@media (max-width: 1190px) {
    .content {
        padding-top: 1em;
        padding-left: 4em;
        font-size: .7em;
    }
    .label {
        font-size: .7em;
    }
    .PSA-number {
        margin-right: 2em;
    }
    .radio {
        cursor: pointer;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 0px 5px;
        padding: initial;
        width: .7em;
        height: .7em;
    }
}

/*For 1024px width*/

@media (max-width: 1024px) {
    .content {
        padding-top: 1em;
        padding-left: 4em;
        font-size: .6em;
    }
}

@media (max-width: 940px) {
    .previous-school-wrapper {
        padding:1em 0em 1em 4em;
        display: grid;
        grid-template-columns: 20% 35% auto;
    }
    .heducation {
        width: 200px;
        border-right :rgba(0, 51, 102, 0.7) 1px solid;
        padding: 1em;
    }
    .content-title {
        margin-top: 40px;
    }
    .content {
        padding-top: 1em;
        padding-left: 4em;
        font-size: .55em;
    }
    .select {
        width: 8em;
    }
    .textbox {
        width: 8em;
    }
    .school-year input {
        width: 6em;
    }
}
@media (max-width: 768px) {
    /*ayusin mo nalang pag nag media query ka na */
    .content {
        overflow-x:hidden;  /*intended to always fit the content to the designated width of view area*/
    }
}
@media (max-width: 688px) {
    .previous-school-wrapper {
        grid-template-columns: 20% 40% 40%;
    }
    .content-wrapper
     {
        font-size: 0.5em;
        width: 100%;
    }
    .select {
        width: 10em;
        height: 2em;
    }
    .textbox {
        width: 10em;
    }
    .heducation{
        width: 195px;
    }
    .content {
        width: 100%;
        padding: 2em;
    }
    .form-main {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    .title {
        margin-top: 1em;
        font-size: 1.5em;
        padding: 0.3em 1em 1em 1.5em;
    }
    .previous-school-title,
    .student-information-title,
    .student-disability-title,
    .address-title,
    .parents-guardian-information-title {
        padding: 1em;
        padding-left: 1.5em;
    }
}
@media (max-width: 600px) {
    .content {
        font-size: 0.5em;
    }
    .heducation{
        width: 130px;
    }
    .textbox {
        width: 10em;
    }
    .form-main {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 360px) {
    
    .content-wrapper
     {
        font-size: 0.5em;
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 0.5em;
    }
    .select {
        width: 12em;
        height: 3em;
    }
    .textbox {
        width: 12em;
    }
    .title {
        margin-top: 1em;
        font-size: 1.5em;
        padding: 0.3em 1em 1em 1.5em;
    }
    .form-main {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    .previous-school-title,
    .student-information-title,
    .student-disability-title,
    .address-title,
    .parents-guardian-information-title {
        padding: 1em;
        padding-left: 1.5em;
    }
}