.content {
    text-align: center;
    font-size: 2em;
}

* {
    box-sizing:border-box
}


/* Slideshow container */
.slideshow-container {
    padding-top: 9px;
    width: 95%;
    max-height: 650px;
    height: 75%;
    position: relative; /* Important: this makes the absolute buttons position relative to this container */
    margin: auto;
    overflow: hidden; /* Optional: hides overflow if arrows go outside */
}

/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    display: block;
    height: auto;
    object-fit: cover;
    max-width: 95%;
    margin: 0 auto; 
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 9px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Make them visible */
    z-index: 1;
}

/* Position prev on left, next on right */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Optional: On hover, make darker */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.border-100 {
    position: relative;
    padding-top: 45px;
}

.border-100::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 30px solid #003366;
}

.quote {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 5px;
    width: 100%;
}

.quote img {
    width: 100%;
}