.header {
    background-color: #003366;
}

img {
    max-width: 70%;
}

.page-title {
    font-size: 2.75em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    background-color: #003366;
    height: 350px; /* Set a fixed height */
    display: flex;
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center */
    box-sizing: border-box;
}

.border-100-title {
    position: relative;
}

.border-100-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 8px solid #CC8B20;
}

.border-75-underline {
    position: relative;
    display: inline-block; /* This makes the underline hug just the text width */
}

.border-75-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200%;
    border-bottom: 2px solid rgba(241, 189, 34, 0.75);
    transform: translateX(-50%); /* Center the underline relative to its own width */
}

/*All of the text in the bottom is temporary*/
.main-content {
    margin-top: 40px;
}

.learn-more-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}

.learn-more-container > .learn-more-content {
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    height: 40em;

}

.learn-more-text {
    font-size: 1.5em;
    color: #000000; /* Changed from white to black for better contrast */
    margin-top: 40px;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgba(241, 189, 34, 0.75);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px; /* Space between items */
    align-items: stretch; /* Make all items equal in height */
    padding: 20px; /* Padding around the grid */
}

/* Section styles */
.about-section, .mission-section, .vision-section {
    background-color: #f4f4f4;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.about-section h2, .mission-section h2, .vision-section h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.about-section p, .mission-section p, .vision-section p {
    color: #000000;
    line-height: 1.6;
    text-align: justify;
}