/*style.css*/
.header { 
    color: White;
    font-size: 23.4px;  
    font-family: "Balthazar";
    padding: .1em;
    margin-bottom: 2em;
    height: 1em;
    margin-top: 1.7em;
}

#logo-container {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: #E1A23C;
    margin: 0 auto;  
    margin-bottom: 2.5em;
}

#school-logo {
    border-radius: 21%;
    height: 4em;
    width: 4em;
}

.page-title { 
    color:#f3f3f3;
    font-size: 100%;
    padding-bottom: 1.5em;
}

.em-login {
    color: #e84646;
    visibility: hidden;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E1A23C, #ccc, #E1A23C);
    width: 8em;
    margin: 0 auto;

}


.box {
    width: 17em;
    height: 12em;
    background-color: #003366;
    border-radius: 12px;
    margin: 0 auto;
}

input { /* email and password input */
    display: block;
    width: 16em;
    height: 3.5em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Arial;
    background-color: #8f9fb1;
    opacity: 70%;
    color: rgb(0, 0, 0);
    margin: 0em 2em 0em 3em;
    justify-content: center;
 
  
}

#phone_number , #password {
    margin-top: 1em;   
    font-size: .8em;
        ;
}

.main {
    background-color: #003366;
    padding: 0px 0px;
    width: 41.9em;
    text-align: center;
    min-height: 0%;
    height: 100vh;
}

body {
    display: flex;
    align-items: left;
    font-family: sans-serif;
    max-height: 100vh;
    background: #f3f3f3;
    direction: column;
    margin: 0;
    font-family: "Balthazar";
}

::placeholder {
    color: rgb(243, 228, 228);
    opacity: 1;

}

button {
    padding: 15px;
    border-radius: 78px;
    margin: 4.1em 13em 1.3em 13em;
    color: white;
    cursor: pointer;
    background-color: #E1A23C;
    width: 12em;
    font-size: 1em;
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.register-link {
    color: #E1A23C;
    text-decoration: none;
    font-size: 1em;
    margin-top: 2em;
    cursor: pointer;
}

.vlorange{
    background-color:  #E1A23C;
    width: 2em;
    height: 100vh;
}

.vlyellow{
    background-color:  #CC8B20;
    height: 100vh;
    width: 2em;
}

#img-container{
    margin: 0 auto;  
    height: 100vh;
    width: 60em;
}

#student{
    height: 100vh;
}

#label {
    font-family: Baloo-Thambi-2;
    background-color: #8f9fb1;
}

html, body {
    height: 100%;    
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}