/*Head, main, logo container, page title*/
.header { 
    color: White;
    font-size: 23.4px;  
    font-family: "Balthazar";
    padding: .1em;
    margin-bottom: 2em;
    height: 1em;
    margin-top: 1.7em;
}

#img-container{
    margin: 0 auto;  
    height: auto;
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

#student{
    width: 100%;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
    display: block;
}

#logo-container {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: #E1A23C;
    margin: 0 auto;  
    margin-bottom: 2.5em;
}

#school-logo {
    border-radius: 21%;
    height: 4em;
    width: 4em;
}

.page-title { 
    color:#f3f3f3;
    font-size: 100%;
    padding-bottom: 0.5em;
}


hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E1A23C, #ccc, #E1A23C);
    width: 8em;
    margin: 0 auto;
}

html, body {
    display: flex;
    font-family: sans-serif;
    max-height: 100vh;
    background: #f3f3f3;
    direction: column;
    margin: 0;
    font-family: "Balthazar";
    overflow: hidden;
}

.main {
    background-color: #003366;
    text-align: center;
    min-height: 0%;
    height: auto;
    min-height: 100vh;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.user-details{
    display: flex;
    flex-wrap:  wrap;
    align-content: flex-end;
    flex: 1;
    margin: 2em 0em 0em 0em;
    justify-content: center;
}

.input-box {
    margin: 0em 2em 0em 0em;
    justify-content: center;
    display: inline-block;
}

.input-box  ::placeholder {
    color: #FFF8F8;
    opacity: .64;
    font-size: .8em;
    font-family: Baloo-Thambi-2;    
}

input {
    margin: .4em .3em 1.5em .3em;
    display: flex;
    width: 16em;
    height: 3.5em;
    font-size: .9em;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Baloo Thambi';
    background-color: #70859c;
}

.details {
    color: rgb(255, 248, 248);
    margin-bottom: 8em;
    text-align: start;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    display: center;
    font-size: .8em;
    font-family: Baloo-Thambi-2;
    font-weight: 400;
    text-align: center;
}

/*button, Create, Two Lines*/
.button {
    margin: .6em 12em 0.8em 12em;
}

p{  
    color: white;
}

.signin-link {
    color: #E1A23C;
    cursor: pointer;
}

.vlorange{
    background-color:  #E1A23C;
    width: 2em;
    height: auto;
    min-height: 100vh;
}

.vlyellow{
    background-color:  #CC8B20;
    height: auto;
    min-height: 100vh;
    width: 2em;
}
.submit-btn {
    padding: 1em 2em 2em 2em;
    border-radius: 78px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #E1A23C;
    width: 12em;
    height: 2.7em;
    font-size: 1em;
}

.submit-btn:hover {
    background-color: #CC8B20;
    transition: all 0.3s ease;
}

/* Desktops (1024px and up) */
@media (max-width: 1024px) {
    .main {
        width: 100%;
        padding: 10px;
    }   
    #user-details{
        font-size: 15px;
    }
    .vlyellow, .vlorange{
        display: none;
    }

}

/* Tablets (768px - 1023px) */
@media (max-width: 768px) and (max-width: 1023px) {
    .main {
        width: 100%;
        padding: 10px;
    }
    .input {
        margin: .4em .3em 2.5em .3em;
        width: 226px;
        height: 3;
    }
    #student, #img-container {
        display: none;
    }
    button {
        margin: -1px 18px 9px 6px;
        width: 26%;
    }
    #wrap {
        width: 99%;
    }
    .main {
        width: 100%;
        padding: 10px;
        max-width: 768px;
    }
    .user-details {
        margin: 2em 0em 0em 1em;
        font-size: 15px;
    }
}

/* Medium phones (425px - 767px) */
@media (max-width: 767px) {
    .header{
        font-size: 21.4px;
    }
    .main {
        width: 100%;
    }
    .box {
        width: 70%;
        margin: -10px auto;
    }
    input{
        font-size: 8.7px;
    }
    button, .admin-login-button {
        height: 46px;
        margin: 2px 2%;
        width: 37%;
        font-size: 14px;
    }
    #student, #img-container {
        display: none;
    }
    .user-details {
        margin: 2em -1em 0em 1em;
        font-size: 11px;
    }
    button {
        margin: -1px 18px 9px 6px;
        width: 26%;
    }
    p {
    color: white;
    font-size: 13px;
    }
}

/* Small phones (375px - 424px) */
@media (max-width: 424px) {
    .main {
        padding: 10px 5px;
    }
    .page-title h3, h2 {
        font-size: 1em;
    }
    .box {
        width: 95%;
    }
    button, .admin-login-button {
        width: 95%; 
    }
    input {
        margin: 4px auto;
    }
}

/* Extra small phones (320px - 374px) */
@media (max-width: 374px) {
    h2 {
        font-size: .9em;
    }
    button, .admin-login-button {
        width: 100%;
    }

  #student, #img-container {
    display: none;
    }
    p{
        font-size: 13px;
    }
    .user-details {
        margin: 1em 0em 1em 1em;
        font-size: 10px;
    }
    .input-box {
    margin: 0em 2em 2em 1em;
    }
    input{
        margin: 0px auto;
    }
}



