.content {
    margin: 4em;
    width: 45vw;
    height: 80.5vh;
    background-color: white;
    padding: 1em;
}
table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    width: 40vw;
}

.button {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

th, td {
  text-align: left;
  padding: 8px;
}


.Check-Status {
    text-align: center;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    width: 25%;
    padding: .5em;
    border: #1d421e 1px solid;
}

.Check-Status:hover {
    background-color: #69f070;
    cursor: pointer;
    color: rgb(0, 0, 0);

}


tr:nth-child(odd) {background-color: #ffffff;}

tr:nth-child(even) {background-color: #f4f4f4;}