/*----START OF BASE DESIGNS----*/
body {
    display: flex;
    background-color: rgb(235, 231, 231);
}

p {
    cursor: default;
}

/*----SIDEBAR DESIGNS----*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3.5vw;
    background-color: #003366;
    height: 100vh;
    transition: width 0.2s ease-in, opacity 0.15s ease-out;
    overflow: hidden;
    font-family: 'Barlow', Arial;
    z-index: 100;
}

.sidebar button {
    border: none;   
    background: none;
    cursor: pointer;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}    

.sidebar a {
    display: block; 
    color: #CC8B20;
    text-decoration: none;
    cursor: pointer !important;
}

.sidebar ul {
    list-style: none;
}

.sidebar span {
    opacity: 0;
    max-height: 0;
    transition: max-height .1s ease-out, opacity .1s ease-out;
}

.menu {
    padding: 2em 1em 1em 1em; 
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.menu-title {
    color: #FFF8F8;
    padding: 0em 1em;
}

.menu img {
    width: 1.3em;
    max-width: 2em;
}

.border-100sb {
    position: relative;
}

.border-100sb::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    border-bottom: 1px solid #295077;
}
.border-75 {
    position: relative;
}

.border-75::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: 0em 2em 0em 2em;
    border-bottom: 1px solid #295077;
}

/*SIDEBAR TITLE*/
.sidebar-title {
    color: white;
    background-color: #F1BD22;
    display: grid;
    height: 3em;
    grid-template-columns: 50% 50%;
}

.sidebar-title button {
    opacity: 1;
    max-height: 100%;
    cursor: pointer;
    grid-column: 1/3;
    justify-self: center;
}


.SSIS {
    margin: 1em;
    max-width: 0;
    opacity: 0;
    display: none;
}

.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    transition: max-height .1s ease-out, opacity .1s ease-out;
    max-width: 10vh;
    width: 2em;
}

/*--MENU--*/

/*DASHBOARD*/
.dashboard-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

.teachers-ul a:hover, .subjects-ul a:hover, .dashboard-ul a:hover {
    color: white;
}

/*SUBJECTS*/
.subjects-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

/*TEACHERS*/
.teachers-ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in, opacity .0005s ease-in;
}

/*MISSION AND VISION*/
.sidebar #mv span{
    display: none;
}

/*--END OF MENU--*/

/*----TRANSITIONS----*/
.sidebar.active {
    width: 20vw; 
    transition: width 0.2s ease-in, opacity 0.15s ease-out;
}

/*SIDEBAR TITLE*/
.sidebar.active .SSIS {
    display: flex;
    position: absolute;
    max-height: 2.5em;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 1em;
}


.sidebar ~ .main-content {
    margin-left: 3.5vw; /* should always be the same as .sidebar width */
}

.sidebar.active.sidebar-title button {
    position: absolute;
    right: 0;   
}

.sidebar.active span, .sidebar.active button {
    max-height: 100%;
    opacity: 1;
    transition: max-height .5s ease-out, opacity .5s ease-out;
}

.sidebar.active #mv span{
    display: flex;
}

.sidebar.active .menu-btn {
    grid-column: 2/2;
    justify-self: right;
    margin-right: 1em;
}

.dashboard-ul.active, .subjects-ul.active, .teachers-ul.active {
    max-height: 100vh;
    opacity: 1;
    background-color: #051F3E;
    margin: 0;
    padding: 1em 2em .5em 2em;
    grid-column: 1 / 3;
    transition: max-height .5s ease-in, opacity .3s ease-in;
}
/*--END OF TRANSITIONS--*/
/*----END OF SIDEBAR DESIGNS----*/


/*--HEADER DESIGNS--*/
.main-content {
    background-color:antiquewhite;
    width: 100%;
    height: 100%;
}

.header-title {
    padding: .2em;
    padding-left: 1em;
    color: #E1A23C;
    font-size: 1.3em;
}

.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 3.2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.account {
    display: flex;
    padding-right: 2em;
}

.account button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
    cursor: pointer;
}

.account img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
}

.account #account-drop {
    width: 1.3em;
    height: 1.3em;
    padding-left: .4em;
}

.account-settings-btn {
    position: relative;
    display: inline-block;
}

.account-settings-btn-content-wrapper {
    display: none;
    position: absolute;
    top: 120%;
    right:10px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.account-settings-btn-content-wrapper a{
    cursor: pointer;
}

.account-link-wrapper, .account-logout-wrapper{
    display: flex;
}

.account-link-wrapper:hover, .account-logout-wrapper:hover{
    background-color: #a7a39d;
}

.update-password {
    margin: auto 0px;
}

.account .change-pass-icon, .account .logout-icon {
    padding: .4em;
    margin: .5em;
    background-color: #cfcbc4;
    border: #a7a39d 1px solid;
}

.logout-text {
    margin: auto;
}

.user-info-wrapper {
    display: flex;
}

.show {
    display: block;
}
.mobile-header-wrapper {
    display: none;
}
.mobile-sidebar-wrapper {
    display: none;
}
/*--END OF HEADER DESIGNS--*/
/*MEDIA QUERIES*/
@media (max-width: 1510px) {
    .sidebar {
        font-size: .85em;
    }

    .header-title {
        font-size: 1.1em;
    }

    .account {
        padding-right: 0em;
        font-size: .8em;
    }

    .searchbox {
        width: 20em;
        font-size: .8em;
    }
}


@media (max-width: 1205px) {
    .sidebar {
        min-width: 4.5vw;
    }

    .sidebar.active {
        min-width: 12vw;
        font-size: .7em;
        transition: all .2s ease-out;
    }

}

@media (max-width: 1045px) {
    .sidebar {
        font-size: .8em;
    }

    .header-title {
        font-size: 1em;
    }

}
@media (max-width: 940px) {
    .sidebar {
        min-width: 5vw;
    }
}

/*----END OF THE BASE DESIGNS----*/


/*----START OF MAIN CONTENT----*/
/*----END OF MAIN CONTENT----*/

/*MOBILE VERSION OF HEADER & SIDEBAR*/
@media (max-width: 768px ) {
    .content {
        overflow-x: hidden;
    }

    .sidebar, .header-wrapper, .sidebar-wrapper,.mobile-sidebar-wrapper    {
        display: none;
    }

    .mobile-sidebar-wrapper.active {
        display: block;
        position: absolute;
        background-color: #003366;
        width: 100%;
        height: 100vh;
        z-index: 1;
        animation-duration: 1s;
        animation-name: slidein;
    }

    .mobile-header-wrapper {
        position:absolute;
        z-index: 0;
        display: grid;
        width: 100%;
        background-color: #fff;
        grid-template-columns: 10% 70% 20%;
    }

    .mobile-mob-wrapper {
        width: 100%;
        text-align: center;
    }
    
    .dashboard-wrapper-mob  {
        border-bottom: 1px solid #fff;
    }
    .menu-button-wrapper {
        display: flex;
        justify-content: center;
    }
    .arrow-mob {
        z-index: 1;
        margin: 10px;
        width: 20px;
        height: 20px;
        background-image: url(../imgs/chevron-down.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .icon-title-mob {
        margin: 10px;
        z-index: 1;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .menu-title-mob  {
        padding: 10px;
        color: #fff;
    }
    .dashboard-mob-ul, .subjects-mob-ul, .teachers-mob-ul {
        background-color: rgb(5,31,62);
        max-height: 0;
        opacity: 0;
        transition: all .5s linear;
    }
    .sidebar-show-mob{
        width: 100%;
        height: 40px;
        background-color: #F1BD22;
        display: flex;
    }
    .ssis-title {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        padding: 10px;
        display: flex;
        width: calc(100% - 40px);
        justify-content: center;
    }
    .bar-btn-show-mob {
        z-index: 1;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #F1BD22;
        background-image: url(../imgs/bar.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bar-btn-mob {
        z-index: 0;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #F1BD22;
        background-image: url(../imgs/bar.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title-search-mob {
        z-index: 0;
        margin-left: 5px;
        padding: 5px;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .title-mob {
        z-index: 0;
        color:#F1BD22;
        font-size: 9px;
    }
    .user-btn-mob {
        z-index: 0;
        width: 40px;
        height: 40px;
        background-image: url(../imgs/check2-circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dashboard-icon-mob {
        background-image: url(../imgs/easel.svg);
    }

    .subjects-icon-mob {
        background-image: url(../imgs/book.svg);
    }

    .teachers-icon-mob {
        background-image: url(../imgs/people-fill.svg);
    }
    .mv-icon-mob {
        background-image: url(../imgs/check2-circle.svg);
    }
    /* slide animation ng sidebar */
    @keyframes slidein {
        from {
            left: -82%;
        }
        to {
            left: 0;
        }
    }   
    .dashboard-mob-ul.active, .subjects-mob-ul.active, .teachers-mob-ul.active {
        max-height: 100vh;
        opacity: 1;
        margin: .1em 20vh .5em 20vh;
        text-align: center;
        padding: .5em;
    }
    
    .mobile-sidebar-wrapper a {
        display: block; 
        color: #CC8B20;
        text-decoration: none;
    }
}