.main-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 4em;
    padding: 3em;
}
h1 {
    text-align: center;
    font-size: 4em;
}
.status {
    text-align: center;
    font-size: 4rem;
}
p {
    text-align: center
}