.content {
    width: 45vw;
    height: 90vh;
    display: flex;
    justify-self: center;
    padding-top: 85px;
    margin-bottom: 105px;   
}

.wrapper {
    background-color: white;
    padding: 1em;
    border-radius: 1.25em;
    border: 1px solid rgb(0, 0, 0, .5);
    overflow: auto;         /* or scroll */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    width: 40vw;
}

.button {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

th, td {
  text-align: left;
  padding: 8px;
}
.enrollee-link {
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: rgb(76, 76, 255);
    text-decoration: underline;
    cursor: pointer;
}
td a:hover {
    color: rgb(0, 0, 200);
}
.Check-Status {
    text-align: center;
    border-radius: 5px;
    background-color: #073f88;
    color: white;
    width: 25%;
    padding: .5em;
    border: #1d421e 1px solid;
}

.Check-Status:hover {
    background-color: #327ee2;
    cursor: pointer;
    color: rgb(0, 0, 0);

}


tr:nth-child(odd) {background-color: #ffffff;}

tr:nth-child(even) {background-color: #f4f4f4;}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bolder ;
}
